<!DOCTYPE html>
<html>
<head>
<title>Elasticsearch Search</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Search Box Example 1</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<link rel="stylesheet" href="/css/search_page.css" />

</head>
<body>
<div><a href="/configuration" class="tfbutton">Configuration Page</a></div>
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="GET" action="/search">
			<input type="text" class="tftextinput" name="q" size="56"
				maxlength="120"></input><input type="submit" value="search"
				class="tfbutton"></input>
		</form>
		<div class="tfclear"></div>
	</div>
	
</body>
</html>

